:root {
  --color-red-light: rgb(223, 77, 77);
  --color-red-medium: rgb(172, 22, 22);
  --color-blue-medium: rgb(27, 27, 63);

  --main-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom right,
    var(--color-red-medium),
    var(--color-blue-medium)
  );
  color: rgb(245, 137, 137);
}

.container {
  min-height: 100vh;
  padding: 2rem;
}

.game-options {
  background-color: rgb(27, 27, 63);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 60%;
  margin: auto;
  text-align: center;
  font-family: var(--main-font);

  h1 {
    color: white;

    text-transform: uppercase;
    font-weight: 300;
  }

  div {
    margin-top: 1rem;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 10px;

    p {
      font-size: 1.2rem;
      color: white;
      margin: 0.5rem 0;
    }

    label {
      text-transform: uppercase;
    }

    input {
      margin-right: 1rem;
    }
  }

  &__btn {
    margin-top: 1.2rem;
    align-self: flex-end;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(255, 255, 255);
  }
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 75px;
  height: 75px;
  background-color: yellow;
  margin: 5px;
  border-radius: 50%;
}

.hide {
  display: none;
}
